
#body{
  color: #272020;
  background-color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  position: relative;
  height: auto;
  min-height: 100%
}
#body .u-header .u-sheet-1{
  min-height: 192px;
  width: 340;
  position: relative;
}
.u-header .u-logo-image-1{
  max-width: 50px;
  max-height: 50px;
}

#footer {
  background: #333333;
  padding: 0 0 30px 0;
  text-align: center; position: relative;
  color: #ffffff;
  font-size: 14px;
}
#footer .u-sheet-1 {
  min-height: 36px; width: 340px; margin:0 auto;
}
#footer .u-sheet-1  .text1{
  width: 340px;
  margin: 49px auto; word-wrap: break-word; position: relative;
  padding: 0; color: #ffffff; text-align: center; font-size: 0.875rem; 

}
.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("elements/ramadan.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 528px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 157px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 495px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  line-height: 39.6px;
  margin: 46px 54px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
